{% extends "base.html" %}
{% block title %}Add player{% endblock %}
{% block content %}
<form method="post">
    <div class="form-group">
        <label for="name">Player name</label>
        <input type="text" class="form-control" id="name" name="name" placeholder="Player name"
               value="{{ request.form['title'] }}"/>
    </div>
    <br>
    <div class="form-group">
        <label for="buyin">Total buy-in (in chips)</label>
        <input type="number" class="form-control" id="buyin" name="buyin" placeholder="Total buy-in"
               value="{{ request.form['buyin'] }}"/>
    </div>
    <br>
    <div class="form-group">
        <label for="cashout">Cashout (in chips)</label>
        <input type="number" class="form-control" id="cashout" name="cashout" placeholder="Cashout"
               value="{{ request.form['cashout'] }}"/>
    </div>
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
