{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<br>

<div class="container">
    <h3>Results</h3>
    {% include 'result_table.html' %}
</div>

<br>

<div class="container">
    <h3>Settlement</h3>
    <pre id="settlement">{{ settlement }}</pre>
    <button class="btn btn-primary" onclick="copySettlementToClipboard()">Copy</button>
</div>

<script>
    function copySettlementToClipboard() {
      navigator.clipboard.writeText(document.getElementById("settlement").innerHTML);
    }
</script>

{% endblock %}
