{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}

<br>

<div class="container">
    <h3>Results</h3>
    {% include 'result_table.html' %}
</div>

<br>

<div class="container">
    <h3>Settlement</h3>
    <pre id="settlement">{{ settlement }}</pre>
    <button class="btn btn-primary" onclick="copySettlementToClipboard()">Copy</button>
</div>

<script>
    function copySettlementToClipboard() {
        var tempTextArea = document.createElement("textarea");
        tempTextArea.value = document.getElementById("settlement").innerText;
        document.body.appendChild(tempTextArea);
        tempTextArea.select();
        tempTextArea.setSelectionRange(0, 99999); // For mobile devices
        document.execCommand("copy");
        document.body.removeChild(tempTextArea);
}
</script>

{% endblock %}
